@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    $path: $font-path + $path;

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin media-max($breakpoint) {
   @media screen and (max-width: $breakpoint) {
      @content;
   }
}

@mixin media-min($breakpoint) {
   @media screen and (min-width: $breakpoint) {
      @content;
   }
}

@function remToPx($value) {
   @return $value / 1rem * 10px * $font-scale;
}

@function rem($pixels, $context: $font-size) {
   @return #{$pixels/$context}rem;
}

@function em($pixels, $context: $font-size) {
   @return #{$pixels/$context}em;
}
